body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;

  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 100px 1fr 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  background-color: forestgreen;
}

section {
  display: flex;
}

nav div {
  margin: 15px;
  font-size: 30;
  color: black;
  font-weight: bold;
}

aside {
  background-color: red;
}

main {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: safe;
  align-items: center;
}

aside {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: safe;
  align-items: center;
}

footer {
  background-color: gold;
}
.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-ctr {
  font-weight: bold;
  font-size: 30;
}
nav,
footer {
  grid-column: span 2;
}
